body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-line
{
  display: flex;
  flex-flow: row nowrap;
}

.board-cell 
{
  flex: 1;
  height: 15px;
  width: 15px;
  border: 1px solid rgba(255, 255, 255, 0.123);
}

.edge
{
  background-color: black;
}

.playerone, .playertwo
{
  background-color: white;
}

.ball
{
  background-color: white;
}